<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jxqm.jiangdou">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Base.AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="XnvcE8ukzza6GlPfYMejRh0sX6CluzwD" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".ui.login.view.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".ui.login.view.PhoneLoginActivity" />
        <activity android:name=".ui.login.view.ForgetPsdActivity" />
        <activity android:name=".ui.login.view.RegisterActivity" />
        <activity
            android:name=".ui.login.view.LoadingActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.view.GuideActivity" />
        <activity
            android:name=".ui.login.view.VerifyCodeActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".ui.publish.view.JobPublishActivity">

        </activity>

        <activity android:name=".ui.publish.view.PublishJobPreviewActivity" />
        <activity android:name=".ui.job.view.JobDetailsActivity" />
        <activity android:name=".ui.city.SelectCity" />
        <activity android:name=".ui.user.view.ComplainDetailsActivity" />
        <activity android:name=".ui.user.view.UserComplainActivity" />
        <activity android:name=".ui.user.view.MyCollectionJobActivity" />
        <activity android:name=".ui.user.view.CashOutActivity" />
        <activity android:name=".ui.employer.view.EmployRecordActivity" />
        <activity android:name=".ui.order.view.OrderPaymentActivity" />
        <activity android:name=".ui.order.view.OrderDetailsActivity" />
        <activity android:name=".ui.order.view.OrderPaymentSuccessActivity" />
        <activity android:name=".ui.user.view.ResumeDetailsActivity" />
        <activity android:name=".ui.job.view.JobSearchActivity" />
        <activity android:name=".ui.job.view.JobCompanyListActivity" />
        <activity android:name=".ui.job.view.CompanyDetailsActivity" />
        <activity android:name=".ui.job.view.JobScreenActivity" />
        <activity android:name=".ui.job.view.AllJobScreenActivity" />
        <activity android:name=".ui.job.view.JobSingUpSuccessActivity" />
        <activity android:name=".ui.user.view.MyResumeActivity" />
        <activity android:name=".ui.user.view.SettingActivity" />
        <activity android:name=".ui.user.view.AboutUsActivity" />
        <activity android:name=".ui.user.view.UserWalletActivity" />
        <activity android:name=".ui.user.view.MyMessageActivity" />
        <activity android:name=".ui.user.view.TradeDetailsListActivity" />
        <activity android:name=".ui.user.view.TradeDetailsActivity" />
        <activity android:name=".ui.user.view.ModifyUserDetailsActivity" />
        <activity android:name=".ui.user.view.CashOutSuccessActivity" />
        <activity android:name=".ui.map.MapActivity" />
        <activity android:name=".ui.employee.view.EmployeeOfferDetailsActivity" />
        <activity android:name=".ui.attestation.view.PeopleAttestationActivity" />
        <activity android:name=".ui.attestation.view.CompanyAttestationActivity" />
        <activity android:name=".ui.attestation.view.AlipayAttestaionActivity" />
        <activity android:name=".ui.web.AgreementWebActivity"/>
        <activity
            android:name=".ui.home.view.MainActivity"
            android:launchMode="singleTask">

        </activity>


        <!-- 拍照安装Apk所需要的provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jxqm.jiangdou.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

    </application>

</manifest>